body{
    background-image: url("Images/car.jpg");
    background-repeat: no repeat;
    background-size:cover;
    opacity: .5;
}


#chessboard{
    width: 800px;
    height:800px;
    border:1px solid red;

}

.white{
    background-color: white;
    width:100px;
    height:100px;
    float:left;
}

.black{
    background-color: black;
    width:100px;
    height:100px;
    float:left;
}